.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .scroll-button.visible {
    opacity: 1;
    visibility: visible;
  }
  
  @media screen and (min-width : 0) and (max-width : 800px) {
    .scroll-button {

        bottom: 60px;
      
    }
  }
  